<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MailServer" value="darth"/>
    <add key="SenderDetail" value="Organisation name"/>
    <add key="ReceiverDetail" value=""/>
    <add key="MailSubject" value="school mail"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
